.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.column {
  display: flex;
  flex-direction: column;
  width: 1680px;
}

.FirstTitle {
  /* ECONOMIA */
  text-transform: uppercase;
  margin-top: 80px;
  margin-left: 255px;
  width: 64px;
  height: 16px;
  font-style: normal;
  font-weight: 800;
  font-size: 12px;
  line-height: 16px;
  /* identical to box height */
  display: flex;
  align-items: center;
  color: #ff2d2d;
}

.FirstContent {
  /* Quem não tiver valores a receber nesta etapa poderá ter nas próximas fases, diz BC */
  margin-left: 250px;
  width: 580px;
  height: 300px;
  font-style: normal;
  font-weight: 700;
  font-size: 58px;
  line-height: 60px;
  /* or 103% */
  color: #000000;
  text-decoration: #fff;
}

.FirstImage {
  /* Rectangle 20 */

  width: 280px;
  height: 190px;
  margin-left: -850px;
  margin-top: 305px;
  color: #ebeff1;
  border-radius: 10px;
}

.SecondTitle {
  /* EDUCAÇÃO */
  text-transform: uppercase;

  width: 64px;
  height: 16px;
  margin-left: -850px;
  margin-top: 15px;
  font-style: normal;
  font-weight: 800;
  font-size: 12px;
  line-height: 16px;
  /* identical to box height */
  display: flex;
  align-items: center;
  color: #24538b;
}

.SecondContent {
  /* Datafolha: Após ensino remoto, 76% precisam de reforço na alfabetização */

  width: 280px;
  height: 78px;
  margin-left: -850px;
  margin-top: 10px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  /* or 130% */
  color: #000000;
}

.SecondImage {
  /* Rectangle 21 */

  width: 280px;
  height: 190px;
  margin-left: -2254px;
  margin-top: 305px;
  color: #ebeff1;
  border-radius: 10px;
}

.ThirdTitle {
  /* DIVERSIDADES */
  text-transform: uppercase;

  width: 89px;
  height: 16px;
  margin-left: -2250px;
  margin-top: 15px;
  font-style: normal;
  font-weight: 800;
  font-size: 12px;
  line-height: 16px;
  /* identical to box height */
  display: flex;
  align-items: center;
  color: #248b28;
}

.ThirdContent {
  /* Lotomania: com prêmio de R$ 5 milhões, veja os números sorteados hoje */

  width: 280px;
  height: 78px;
  margin-left: -2250px;
  margin-top: 10px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  /* or 130% */
  color: #000000;
}

@media (max-width: 1200px) {
  .container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .column {
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
  }

  .FirstTitle {
    margin-left: 10px;
  }

  .FirstContent {
    margin-left: 10px;
    font-size: 38px;
    width: 350px;
  }
  .FirstImage {
    /* Rectangle 20 */
    width: 280px;
    height: 190px;
    margin-left: 10px;
    margin-top: 0px;
    border-radius: 10px;
  }
  .SecondTitle {
    margin-left: 10px;
  }

  .SecondContent {
    margin-left: 10px;
    font-size: 18px;
    width: 350px;
  }

  .SecondImage {
    width: 280px;
    height: 190px;
    margin-left: 10px;
    margin-top: 0px;
    border-radius: 10px;
  }

  .ThirdTitle {
    margin-left: 10px;
  }

  .ThirdContent {
    margin-left: 10px;
    font-size: 18px;
    width: 350px;
  }
}

@media (max-width: 1024px) {
  .container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .column {
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
  }

  .FirstTitle {
    margin-left: 10px;
  }

  .FirstContent {
    margin-left: 10px;
    font-size: 38px;
    width: 350px;
  }
  .FirstImage {
    /* Rectangle 20 */
    width: 280px;
    height: 190px;
    margin-left: 10px;
    margin-top: 0px;
    border-radius: 10px;
  }
  .SecondTitle {
    margin-left: 10px;
  }

  .SecondContent {
    margin-left: 10px;
    font-size: 18px;
    width: 350px;
  }

  .SecondImage {
    width: 280px;
    height: 190px;
    margin-left: 10px;
    margin-top: 0px;
    border-radius: 10px;
  }

  .ThirdTitle {
    margin-left: 10px;
  }

  .ThirdContent {
    margin-left: 10px;
    font-size: 18px;
    width: 350px;
  }
}

@media (max-width: 768px) {
  .container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .column {
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
  }

  .FirstTitle {
    margin-left: 10px;
  }

  .FirstContent {
    margin-left: 10px;
    font-size: 38px;
    width: 350px;
  }
  .FirstImage {
    /* Rectangle 20 */
    width: 280px;
    height: 190px;
    margin-left: 10px;
    margin-top: 0px;
    border-radius: 10px;
  }
  .SecondTitle {
    margin-left: 10px;
  }

  .SecondContent {
    margin-left: 10px;
    font-size: 18px;
    width: 350px;
  }

  .SecondImage {
    width: 280px;
    height: 190px;
    margin-left: 10px;
    margin-top: 0px;
    border-radius: 10px;
  }

  .ThirdTitle {
    margin-left: 10px;
  }

  .ThirdContent {
    margin-left: 10px;
    font-size: 18px;
    width: 350px;
  }
}
