.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 colunas com largura igual */
  gap: 20px;
}

.materia1 {
  /* Quem não tiver valores a receber poderá ter nas próximas fases, diz BC */
  position: absolute;
  width: 275px;
  height: 40px;
  left: 260px;
  top: 750px;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  color: #000;
  /* or 133% */
}

.materia1::before {
  content: "";
  position: absolute;
  top: 0;
  left: -10px;
  width: 2px;
  height: 105%;
  background-color: #ff2d2d;
  padding: 1px;
  border-radius: 10px;
}

.materia2 {
  /* Quem não tiver valores a receber poderá ter nas próximas fases, diz BC */
  position: absolute;
  width: 275px;
  height: 40px;
  left: 260px;
  top: 820px;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  /* or 133% */
  color: #000000;
}

.materia2::before {
  content: "";
  position: absolute;
  top: 0;
  left: -10px;
  width: 2px;
  height: 105%;
  background-color: #ff2d2d;
  padding: 1px;
  border-radius: 10px;
}

.materia3 {
  /* Quem não tiver valores a receber poderá ter nas próximas fases, diz BC */
  position: absolute;
  width: 275px;
  height: 40px;
  left: 560px;
  top: 750px;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  /* or 133% */
  color: #000000;
}

.materia3::before {
  content: "";
  position: absolute;
  top: 0;
  left: -10px;
  width: 2px;
  height: 105%;
  background-color: #ff2d2d;
  padding: 1px;
  border-radius: 10px;
}

.materia4 {
  /* Quem não tiver valores a receber poderá ter nas próximas fases, diz BC */
  position: absolute;
  width: 275px;
  height: 40px;
  left: 560px;
  top: 820px;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  /* or 133% */

  color: #000000;
}

.materia4::before {
  content: "";
  position: absolute;
  top: 0;
  left: -10px;
  width: 2px;
  height: 105%;
  background-color: #ff2d2d;
  padding: 1px;
  border-radius: 10px;
}

.materia5 {
  /* Datafolha: Após ensino remoto, 76% precisam de reforço na alfabetização */
  position: absolute;
  width: 265px;
  height: 40px;
  left: 860px;
  top: 750px;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  /* or 133% */
  color: #000000;
}

.materia5::before {
  content: "";
  position: absolute;
  top: 0;
  left: -10px;
  width: 2px;
  height: 105%;
  background-color: #24538b;
  padding: 1px;
  border-radius: 10px;
}

.materia6 {
  /* Datafolha: Após ensino remoto, 76% precisam de reforço na alfabetização */
  position: absolute;
  width: 265px;
  height: 40px;
  left: 860px;
  top: 820px;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  /* or 133% */
  color: #000000;
}

.materia6::before {
  content: "";
  position: absolute;
  top: 0;
  left: -10px;
  width: 2px;
  height: 105%;
  background-color: #24538b;
  padding: 1px;
  border-radius: 10px;
}

.materia7 {
  /* Lotomania: com prêmio de R$ 5 milhões, veja os números sorteados */
  position: absolute;
  width: 265px;
  height: 40px;
  left: 1160px;
  top: 750px;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  /* or 133% */
  color: #000000;
}

.materia7::before {
  content: "";
  position: absolute;
  top: 0;
  left: -10px;
  width: 2px;
  height: 105%;
  background-color: #248b28;
  padding: 1px;
  border-radius: 10px;
}

.materia8 {
  /* Lotomania: com prêmio de R$ 5 milhões, veja os números sorteados */
  position: absolute;
  width: 265px;
  height: 40px;
  left: 1160px;
  top: 820px;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  /* or 133% */
  color: #000000;
}

.materia8::before {
  content: "";
  position: absolute;
  top: 0;
  left: -10px;
  width: 2px;
  height: 105%;
  background-color: #248b28;
  padding: 1px;
  border-radius: 10px;
}
