.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 20px;
}

.materia1, .materia2, .materia3, .materia4, .materia5, .materia6, .materia7, .materia8 {
  width: 290px;
  height: 40px;
  margin-top: 30px;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  color: #000;
  text-decoration: none;
  padding-left: 10px;
  border-radius: 2px;
}

.materia1, .materia2, .materia3, .materia4, .materia5, .materia6, .materia7, .materia8 {
  border-left: 5px solid #FF2D2D;
}

.materia5, .materia6 {
  border-left: 5px solid #24538B;
  width: 280px;
}

.materia7, .materia8 {
  border-left: 5px solid #248B28;
  width: 280px;
}


.materia1, .materia3, .materia5, .materia7 {
  margin-top: 80px;
}

.materia2, .materia4, .materia6, .materia8 {
  margin-top: 30px;
}


.materia1, .materia2 {
  margin-left: 260px;
}

.materia5, .materia6 {
  margin-left: -90px;
}

.materia7, .materia8 {
  margin-left: -180px;
}


@media (max-width: 1200px) {
  .container {
    grid-template-columns: repeat(3, 1fr); 
  }
}

@media (max-width: 1024px) {
  .container {
    grid-template-columns: repeat(2, 1fr); 
  }

  .materia1, .materia2, .materia3, .materia4, .materia5, .materia6, .materia7, .materia8 {
    margin-left: 0; 
  }
}

@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr; 
  }

  .materia1, .materia2, .materia3, .materia4, .materia5, .materia6, .materia7, .materia8 {
    margin-left: 0; 
  }
}
